@import url('https://fonts.googleapis.com/css?family=Noto+Serif');




 







.head{
	height:80px;
	width: 100%;
	background-color:#1d2120;
	position:fixed;
	z-index: 1;
}
body{
	position:center;
	margin:0px;
	padding:0px;
	background-color: #1d2120;
}
.heading{
	position:relative;
	top:-10px;
	font-size:30px;
	font-family: 'Noto Serif', serif;
	color:white; 

}


.fooditem{
	position: relative;
    top:60px;
    left:75px;
	height: 500px;
	width: 300px;
	background-color:#1d2120;
	float: left;
	margin-left:20px;
	margin-top:60px;
}


.line1{
	height: 1px;
	width: 90%;
	background-color:#476687;
	position: relative;
    top:660px;
    left:72px;
    float: top;

}
.line2{
	height: 0.5px;
	width: 90%;
	background-color:#476687;
	position: relative;
    top:1180px;
    left:72px;
    float: top;
    
}
.line3{
	height: 0.5px;
	width: 90%;
	background-color:#476687;
	position: relative;
    top:1250px;
    left:72px;
    
}
.mainfont{
	margin-top:0px;
	margin-bottom:0px;
	font-size:25px;
	font-style:bold;
	font-family: 'Noto Serif', serif;
	color: white;


}
.mainfont1{
	font-size:25px;
	font-style:bold;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
	position: relative;
	right:750px;

}
.mainfont2{
	font-size:25px;
	font-style:bold;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
	position: relative;
	right:700px;

}
.subfont{
	margin-top:0px;
	margin-bottom:0px;
	font-size:15px;
	font-family: 'Noto Serif', serif;
	color: white;
}
.subfont1{
	margin-top:0px;
	margin-bottom:0px;
	font-size:15px;
	font-family: 'Noto Serif', serif;
	color: white;
	position: relative;
	right:940px;
	text-align: justify;
}
.about{
	height: 500px;
	width: 90%;
	
	position: relative;
	top: 1200px;
	left: 72px;	
}
.foot{
	height: 250px;
	width: 90%;
	background-color:#1d2120; 
	position: relative;
	top: 1500px;
	left: 72px;
}
.image{
    height:400px;
    width: 70%;
    background-size: cover;
    background-image:url(pic9.jpg);
    position:relative;
    left:150px;
    margin-left: 50px;



}
.foot1{
	height: 250px;
	width: 400px;
	background-color:#1d2120; 
	float:left;
	margin-left:10px;
	margin-top:10px;
	position: relative;
	bottom:610px;
}
.foot2{
	height: 250px;
	width: 400px;
	background-color:#1d2120; 
	float:left;
	margin-left:10px;
	margin-top:10px;
	position: relative;
	bottom:610px;
}
.foot3{
	height: 250px;
	width: 400px;
	background-color:#1d2120; 
	float:left;
	margin-left:10px;
	margin-top:10px;
	position: relative;
	bottom:610px;
}
.foottext1{
	font-size:25px;
	font-style:bold;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
	
}
.footsubtext1{
	margin-top:0px;
	margin-bottom:0px;
	font-size:15px;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
}
.footsubtext2{
	margin:0px;
	padding:0px;
	font-size:15px;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
	position: relative;
	bottom:50px;
}
.footsubtext3{
	margin-left:5px;
	padding:0px;
	font-size:15px;
	font-family: 'Noto Serif', serif;
	color: white;
	text-align:center;
	background-color:#6e7584;
	float: left;
	
}
.buybt{
	height:40px;
	width: 200px;
	background-color:#2b56c4;
	color:white;
	margin-top:10px;
	border-radius:10px;
	transition-duration:0.2s;
	border:none;
}
.buybt:hover{
	transition-duration:0.2s;
	transform: scale(1.1);
}
.bookinput{
	height:70px;
	width: 600px;
	float:top;
	margin-top: 100px;
	border-radius:10px;
    border-color:#5792f2;
	font-size:35px;
	font-style:bolder;
	font-family: 'Noto Serif', serif;
	color:#1d1f21;
	padding-left:15px;
	border:none;
}
.bookinput1{
	height:70px;
	width: 600px;
	float:top;
	margin-top: 50px;
	border-radius:10px;
    border-color:#5792f2;
	font-size:35px;
	font-style:bolder;
	font-family: 'Noto Serif', serif;
	color:#1d1f21;
	padding-left:15px;
	transition-duration:0.2s;
	border:none;
}
.bookinput1:hover{
	height:70px;
	width: 600px;
	float:top;
	margin-top: 50px;
	border-radius:10px;
    border-color:#5792f2;
	font-size:35px;
	font-style:bolder;
	font-family: 'Noto Serif', serif;
	color:#1d1f21;
	padding-left:15px;
	transition-duration:0.2s;
	transform: scale(1.1);
}


